<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah Penerbangan</title>
</head>
<body>
<h2>Hello!</h2>

<h3>Ubah Data Penerbangan</h3>
<form th:action="@{/flight/update}" th:object="${flight}" method="POST">
    <input type="hidden" th:field="*{pilot}"/>
    <input type="hidden" th:field="*{id}"/>
    Flight Number: <br>
    <input type="text" name="flightNumber" />
    <br>
    Origin : <br>
    <input type="text" name="origin"/>
    <br>
    Destination: <br>
    <input type="text" name="destination"/>

    Time: <br>
    <input type="date" name="time"/>
    <br><br>
    <button type="submit">Submit</button>


</form>

</body>
</html>