<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pilot</title>
</head>
<body>
<h2>Hello!</h2>

<h3>Update data Pilot</h3>
<form th:action="@{/pilot/update}" th:object="${pilot}" method="POST">
    <input type="hidden"  th:field="*{id}" />
    <input type="hidden"  th:field="*{licenseNumber}" />
    Name : <br>
    <input type="text" th:field="*{name}" name="name"/>
    <br>
    Fly Hour: <br>
    <input type="number" th:field="*{flyHour}" name="flyHour"/>
    <br><br>
    <button type="submit">Submit</button>


</form>

</body>
